<a href="https://colab.research.google.com/github/Venkatarameshredd/30DaysOfWebDevelopment/blob/main/ML_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
x=pd.Series([1,2,3,4,5])
print(x)
y=pd.DataFrame({"Names":["Ramesh","mahesh","suresh"],
               "Ages":[22, 23, 24]})
print(y)

0    1
1    2
2    3
3    4
4    5
dtype: int64
    Names  Ages
0  Ramesh    22
1  mahesh    23
2  suresh    24

In [9]:
y=pd.DataFrame({"Names":["Ramesh","mahesh","suresh"],
               "Ages":[22, 23, 24]})
print(y)

    Names  Ages
0  Ramesh    22
1  mahesh    23
2  suresh    24

In [18]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/areavsprices.csv")
print(df)

   Area   Prices
0  1000   550000
1  1500   800000
2  1800  1050000
3  2400  1240000
4  3000  1400000
5  3500  1650000

In [17]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/areavsprices.csv")
print(df.head())

   Area   Prices
0  1000   550000
1  1500   800000
2  1800  1050000
3  2400  1240000
4  3000  1400000

In [5]:
  import pandas as pd

  data = {'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
            'Value': [10, 20, 15, 25, 12, 30],
            'Another_Value': [100, 200, 150, 250, 120, 300]}
  df = pd.DataFrame(data)
  print("Original DataFrame:")
  print(df)

Original DataFrame:
  Category  Value  Another_Value
0        A     10            100
1        B     20            200
2        A     15            150
3        B     25            250
4        A     12            120
5        C     30            300

In [25]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/CarPrice_Assignment.csv")
print(df.tail)
print(df.info())
print(df.describe())

<bound method NDFrame.tail of      car_ID  symboling                   CarName fueltype aspiration  \
0         1          3        alfa-romero giulia      gas        std
1         2          3       alfa-romero stelvio      gas        std
2         3          1  alfa-romero Quadrifoglio      gas        std
3         4          2               audi 100 ls      gas        std
4         5          2                audi 100ls      gas        std
..      ...        ...                       ...      ...        ...
200     201         -1           volvo 145e (sw)      gas        std
201     202         -1               volvo 144ea      gas      turbo
202     203         -1               volvo 244dl      gas        std
203     204         -1                 volvo 246   diesel      turbo
204     205         -1               volvo 264gl      gas      turbo

    doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
0          two  convertible        rwd          front       88.6  ...
1          two  convertible        rwd          front       88.6  ...
2          two    hatchback        rwd          front       94.5  ...
3         four        sedan        fwd          front       99.8  ...
4         four        sedan        4wd          front       99.4  ...
..         ...          ...        ...            ...        ...  ...
200       four        sedan        rwd          front      109.1  ...
201       four        sedan        rwd          front      109.1  ...
202       four        sedan        rwd          front      109.1  ...
203       four        sedan        rwd          front      109.1  ...
204       four        sedan        rwd          front      109.1  ...

     enginesize  fuelsystem  boreratio  stroke compressionratio horsepower  \
0           130        mpfi       3.47    2.68              9.0        111
1           130        mpfi       3.47    2.68              9.0        111
2           152        mpfi       2.68    3.47              9.0        154
3           109        mpfi       3.19    3.40             10.0        102
4           136        mpfi       3.19    3.40              8.0        115
..          ...         ...        ...     ...              ...        ...
200         141        mpfi       3.78    3.15              9.5        114
201         141        mpfi       3.78    3.15              8.7        160
202         173        mpfi       3.58    2.87              8.8        134
203         145         idi       3.01    3.40             23.0        106
204         141        mpfi       3.78    3.15              9.5        114

     peakrpm citympg  highwaympg    price
0       5000      21          27  13495.0
1       5000      21          27  16500.0
2       5000      19          26  16500.0
3       5500      24          30  13950.0
4       5500      18          22  17450.0
..       ...     ...         ...      ...
200     5400      23          28  16845.0
201     5300      19          25  19045.0
202     5500      18          23  21485.0
203     4800      26          27  22470.0
204     5400      19          25  22625.0

[205 rows x 26 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB
None
           car_ID   symboling   wheelbase   carlength    carwidth   carheight  \
count  205.000000  205.000000  205.000000  205.000000  205.000000  205.000000
mean   103.000000    0.834146   98.756585  174.049268   65.907805   53.724878
std     59.322565    1.245307    6.021776   12.337289    2.145204    2.443522
min      1.000000   -2.000000   86.600000  141.100000   60.300000   47.800000
25%     52.000000    0.000000   94.500000  166.300000   64.100000   52.000000
50%    103.000000    1.000000   97.000000  173.200000   65.500000   54.100000
75%    154.000000    2.000000  102.400000  183.100000   66.900000   55.500000
max    205.000000    3.000000  120.900000  208.100000   72.300000   59.800000

        curbweight  enginesize   boreratio      stroke  compressionratio  \
count   205.000000  205.000000  205.000000  205.000000        205.000000
mean   2555.565854  126.907317    3.329756    3.255415         10.142537
std     520.680204   41.642693    0.270844    0.313597          3.972040
min    1488.000000   61.000000    2.540000    2.070000          7.000000
25%    2145.000000   97.000000    3.150000    3.110000          8.600000
50%    2414.000000  120.000000    3.310000    3.290000          9.000000
75%    2935.000000  141.000000    3.580000    3.410000          9.400000
max    4066.000000  326.000000    3.940000    4.170000         23.000000

       horsepower      peakrpm     citympg  highwaympg         price
count  205.000000   205.000000  205.000000  205.000000    205.000000
mean   104.117073  5125.121951   25.219512   30.751220  13276.710571
std     39.544167   476.985643    6.542142    6.886443   7988.852332
min     48.000000  4150.000000   13.000000   16.000000   5118.000000
25%     70.000000  4800.000000   19.000000   25.000000   7788.000000
50%     95.000000  5200.000000   24.000000   30.000000  10295.000000
75%    116.000000  5500.000000   30.000000   34.000000  16503.000000
max    288.000000  6600.000000   49.000000   54.000000  45400.000000

In [24]:
    import pandas as pd

    data = {'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
            'Value1': [10, 20, 15, 25, 12, 18],
            'Value2': [100, 200, 150, 250, 120, 180]}
    df = pd.DataFrame(data)
    grouped_data = df.groupby('Category')
    calc_avg=grouped_data.mean()
    print(calc_avg)

             Value1      Value2
Category
A         12.333333  123.333333
B         22.500000  225.000000
C         18.000000  180.000000

In [21]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science', 'English', 'English', 'English'],
    'Marks': [85, 90, 78, 92, 88, 75, 80, 95, 82]
}
df = pd.DataFrame(data)

average_marks_per_subject = df.groupby('Subject')['Marks'].mean()
print("Average Marks per Subject:")
print(average_marks_per_subject)
top_scorer_per_subject = df.loc[df.groupby('Subject')['Marks'].idxmax()]
print("\nTop Scorer in Each Subject:")
print(top_scorer_per_subject)

Average Marks per Subject:
Subject
English    85.666667
Math       84.333333
Science    85.000000
Name: Marks, dtype: float64

Top Scorer in Each Subject:
    Name  Subject  Marks
7    Bob  English     95
1    Bob     Math     90
3  Alice  Science     92

In [23]:
import pandas as pd

# Sample data
data = {
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Dept": ["IT", "IT", "HR", "HR", "Finance", "Finance"],
    "Salary": [50000, 70000, 40000, 45000, 60000, 80000]
}

df = pd.DataFrame(data)

print("Employee Data:")
print(df, "\n")

dept_avg = df.groupby("Dept")["Salary"].mean().reset_index()
dept_avg.rename(columns={"Salary": "Dept_Avg_Salary"}, inplace=True)

print("Department-wise Average Salary:")
print(dept_avg, "\n")

# Merge the department average salaries back into the original DataFrame
df = pd.merge(df, dept_avg, on="Dept")

above_avg = df[df["Salary"] > df["Dept_Avg_Salary"]]

print("Employees earning above department average:")
print(above_avg)

Employee Data:
  Employee     Dept  Salary
0        A       IT   50000
1        B       IT   70000
2        C       HR   40000
3        D       HR   45000
4        E  Finance   60000
5        F  Finance   80000

Department-wise Average Salary:
      Dept  Dept_Avg_Salary
0  Finance          70000.0
1       HR          42500.0
2       IT          60000.0

Employees earning above department average:
  Employee     Dept  Salary  Dept_Avg_Salary
1        B       IT   70000          60000.0
3        D       HR   45000          42500.0
5        F  Finance   80000          70000.0